/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s ease;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Ensures full viewport height */
    padding: 20px; /* Add some padding */
    box-sizing: border-box;
}

.container-circle {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: radial-gradient(circle, yellow, orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form {
    width: 60%;
}

.left-side {
    width: 30%; /* Adjust as needed */
    padding: 20px; /* Add some padding */
    box-sizing: border-box;
}

.right-side {
    width: 60%; /* Adjust as needed */
    padding: 20px; /* Add some padding */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side-title {
    margin-top: 0;
}

form {
    margin-bottom: 20px;
    width: 100%; /* Make form full width */
    max-width: 400px; /* Limit form width */
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%; /* Make input fields full width */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.rectangle {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff; /* Default background color */
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.rectangle:hover {
    background-color: #f9f9f9;
}

/* Apply dark mode styles */
.dark-mode .rectangle {
    background-color: #333;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}

/* Dark mode */
.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Change direction to stack items vertically */
        height: auto; /* Auto height */
    }

    .left-side,
    .right-side {
        width: 100%; /* Take up full width */
    }

    .right-side {
        order: 2; /* Move to the bottom */
    }

    .left-side {
        order: 1; /* Move to the top */
    }
}